[2017-07-18 17:17] rosalieucla opened #2 "Design and User Interaction documentation"
DESIGNED PAGES in dropbox: https://www.dropbox.com/sh/uvz0nyk0gel8lkl/AAA0o5B0tXiylNBO6Zd1t4c8a?dl=0

Notes re designed pages:
1. The designed pages are the latest version of all pages. The wireframes are useful to see the page interaction because of the clickable elements. If there is a difference between the wireframes and the designed pages, use the designed pages.
2. In dropbox, you have PDF a

[2017-07-19 00:12] rosalieucla opened #7 "Advanced Search - REMOVE"
Please remove Advanced search from the site:
1. Discontinue any further work on this page
2. remove the link: ADVANCED SEARCH from the top navigation
3. remove the link: ADVANCED SEARCH from the bottom navigation
4. remove the link: Advanced search from the the Search Results page, above the Filter

[2017-07-19 00:22] rosalieucla opened #8 "Make Github Public"
Please go ahead and make the github site public - week of July 24.

[2017-07-28 22:50] #8 closed, assigned to amereshchuk

[2017-07-31 18:28] rosalieucla commented on #7
Remove from: footer and from the 'search results' URL . thx!!

[2017-08-03 04:25] rosalieucla opened #9 "PRRLA Institutions Spreadsheet: Logo, Address, Description"
Hi Anton,

Here's the spreadsheet with the PRRLA institutions info.

Here's the link: https://docs.google.com/spreadsheets/d/1M_0TeagEfI_KB-ivQFyDWBpgUBZqUKifDtkTgubjouA/edit?usp=sharing

You will see that some data is missing, i've put [coming soon] as a holder place, I will add that data later, please load it as it is.

Regarding the logo, i included a file for each logo (attached here into gith

[2017-08-03 08:30] amereshchuk commented on #9
Hi Rosalie,

I thought we have to grab institutions by this url http://test-solr.library.ucla.edu/solr/prrla/select?q=*%3A*&rows=0&wt=json&indent=true&facet=true&facet.field=institutionName and grab additional information from spreadsheet you attached.

But spreadsheet contains more institutions, does it mean that we build page based on spreadsheet and grab collections for institutions that exist

[2017-08-04 01:00] rosalieucla commented on #9
HI Anton,

What I do know is that you do not have the total dataset, you have a subset. So yes, there should be more institutions on my list. But I don’t know what to do about that now. I’ve forwarded your question to Parinita so I will get back to you when I get an answer.

Thx!
Rosalie

From: amereshchuk <notifications@github.com>
Reply-To: pier2marketing/ucla-prrla <reply@reply.github.com>
Date

[2017-08-07 23:50] rosalieucla opened #10 "Google Translate languages"
Hi Anton,

Please remove all languages except:
Chinese (simplified)
Chinese (traditional)
Thai
Maori
Korean
Japanese

thx!
Rosalie

[2017-08-09 17:47] rosalieucla commented on #9
Anton,

So that we keep everything in github issues I’ll respond now there for this item.

-Rosalie

From: amereshchuk <notifications@github.com>
Reply-To: pier2marketing/ucla-prrla <reply@reply.github.com>
Date: Thursday, August 3, 2017 at 1:30 AM
To: pier2marketing/ucla-prrla <ucla-prrla@noreply.github.com>
Cc: "Lack, Rosalie" <rlack@library.ucla.edu>, Author <author@noreply.github.com>
Subject:

[2017-08-09 17:56] rosalieucla commented on #9
oops, I'm clearly learning github issues, I didn't realize it went directly here. that's great!!!

Here's the latest on spreadsheet:
We have decided on a process (we will put the institutions into solr), so for you, do not implement a system of reading from the spreadsheet, once we have the solr we will send you the code/info that you need. We will get that to you by August 21, maybe sooner.

For

[2017-08-09 18:00] rosalieucla opened #11 "Sort"
Hi Anton,

Here are the sort options:
-Relevance
-Title (a-z)
-Title (z-a)
-Date (oldest first)
-Date (newest first)

We will be providing solr examples.

thx,
Rosalie

[2017-08-09 23:15] rosalieucla opened #12 "Search within results"
Hi Anton,

I apologize for going back on a task.... On the search results page, we had a second search box above the Filters. When I talked with Glenn and told him we had removed it, he told me that that second box was to be for "Search within results". SO.... if possible I'd like to
1. bring that search box back.
2. add a label above the box that says: Search within results
3. and add the functio

[2017-08-09 23:28] rosalieucla opened #13 "Exhibitions data"
Hi Anton,

At this time, can you please take any one of the collections that you have currently in the data and build that out as an individual Exhibition.

Tasks are to:
1. choose one of the collections from any of the institutions that you have
2. build an exhibition around that collection (attached Glenn's template for reference), so for examples where it says exhibition title, you enter the Co

[2017-08-10 12:33] amereshchuk commented on #12
hi Rosalie,

right now search works as "union", for example you entered "air", you got 100 results, then you entered "chair", you got 50 results, then you entered "air chair", you got 150 results.

you are asking now about "intersection" here, for example you entered "air", you got 100 results, then you entered "chair" you got 50 results, then you entered "air chair", with intersection you will ge

[2017-08-10 13:02] amereshchuk commented on #13
hi Rosalie,

you said 'at this time', does it mean that in the future we will need to grad different data for exhibitions?
if the answer is yes, can we wait for life data and build exhibitions based on real data?

thank you,
Anton

[2017-08-10 13:08] amereshchuk commented on #9
hi Rosalie,

can we wait for live data and than build that?
is there any reason to hard code and then build again based on live data?
i would like to avoid rebuild if possible.

thank you,
Anton

[2017-08-10 16:44] rosalieucla commented on #13
Hi Anton,

In this case, there will not be any real data during this phase of the project so once you put in this one collection then you are done.

thx,
Rosalie

[2017-08-10 16:50] rosalieucla commented on #9
Hi Anton,

Yes, it would be ok to wait until we give you the live data. thank you for asking.

--Rosalie

[2017-08-10 20:18] rosalieucla opened #14 "Footer wording"
Hi Anton,

Just a minor edit to the Footer.

Please remove this: Hosted by HKU Libraries. Powered by Omeka.

Replace with: Hosted by UCLA Library

thx!
Rosalie

[2017-08-11 07:39] amereshchuk commented on #13
hi Rosalie,

we have HTML for this functionality, we have done pagination on search already, we have work done on this topic already. i think it will be better for us just do that on real data, sometimes things looks the same, but as the result they are different or slightly different.

thank you for your reply,
Anton

[2017-08-15 19:05] rosalieucla opened #15 "Please add Saida Largaespada to Github account"
Hi Anton,

Please add:  Saida Largaespada <sjlargaespada@gmail.com> to the PRRLA github site. She will be working on editing the website copy.

thank you!
Rosalie

[2017-08-16 06:11] amereshchuk commented on #15
hi Rosalie,

this email address is not associated with GitHub account.
please provide GitHub name.

thank you,
Anton

[2017-08-21 01:47] rosalieucla opened #16 "Edits to the site"
Hi anton,

We reviewed the pages and have some feedback on the pages:

**Search Results page.**
1. now shows all the fields, just the following fields should display:
-Title
-collection
-Institution
-Author
-date

2. View item at... words on the link should dynamically change based on the institution. Eg if the institution is UCLA, the Link should say, View items at UCLA Library, now it says View

[2017-08-21 12:06] amereshchuk commented on #13
hi Rosalie,

done. page with exhibitions shows all collections, when you click on any of them list of items is displayed.

thank you,
Anton

[2017-08-21 14:54] amereshchuk commented on #16
hi Rosalie,

all done.

Anton

[2017-08-21 19:28] rosalieucla commented on #15
Hi anton,

Saida's github username is: sjlargaespada

thx!
Rosalie

[2017-08-21 19:28] #14 closed, assigned to amereshchuk

[2017-08-21 19:29] #10 closed, assigned to amereshchuk

[2017-08-21 19:29] #12 closed, assigned to kjallen, amereshchuk, pghorpade

[2017-08-21 19:29] #7 closed, assigned to amereshchuk

[2017-08-21 22:47] rosalieucla opened #17 "Empty fields not to display"
Hi Anton,

Can you please add logic that says that if a metadata field doesn't have a value, then the field label doesn't display, so we don't have any field names with no values in them.

thx!
Rosalie

[2017-08-22 00:41] rosalieucla commented on #16
Hi Anton,

Thank you for all these edits, here are some follow ups, all really minor:
1. SEARCH RESULTS - Title. can you make the font size of the title a font larger

2. Page titles. eg. Help, About us, PRL Collections, the thin blue underline was perfect before, it was just not centered under the title name, please bring it back to what it was and center it.

thx!
Rosalie

[2017-08-22 00:43] rosalieucla opened #18 "Exhibitions"
Hi Anton,

Exhibitions look great. One edit: Please put the logic in that makes the blue box, "View item at..."  synced with the institution, in this case it would be "View item at University of Aukland"

thx,
Rosalie

[2017-08-22 00:49] rosalieucla opened #19 "Filters show too many items"
Hi Anton,

When you land on the search results page, the filter items are all expanded and listed. In glenn's design, he had a scroll bar that allow you to scroll thru them.

Here's an example of that implementation: https://calisphere.org/search/?q=horse

thx!
Rosalie

[2017-08-22 06:35] amereshchuk commented on #15
hi Rosalie,

added.

thank you,
Anton

[2017-08-22 16:34] #15 closed, assigned to amereshchuk

[2017-08-23 21:08] pghorpade commented on #11
Hi Anton,

I have added details about sorting on the wiki page
https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification

For following sort options
-Relevance
By default solr sorts by relevancy

-Title (a-z)
use "&sort=first_title asc"
-Title (z-a)
use "&sort=first_title desc"
-Date (oldest first)
use "&sort=sort_decade asc"
-Date (newest first)
use "&sort=sort_d

[2017-08-23 23:07] pghorpade commented on #9
Hi Anton,

To get the complete list of prrla members you can use

following 2 ways

you can get the list from the facet filed prrla_member_title

http://test-solr.library.ucla.edu/solr/prrla/select?q=prrla_member_title:*&rows=0&wt=json&indent=true&facet=true&facet.field=prrla_member_title

or from the docs field

http://test-solr.library.ucla.edu/solr/prrla/select?q=prrla_member_title:*&fl=prrla_m

[2017-08-28 19:44] rosalieucla commented on #9
Hi Anton,

I think that you have what you need to implement the institutions page and individual institution 'home pages', (see parinita's message above), please let us know if you need further info and/or have questions.

thx,
Rosalie

[2017-08-28 20:28] sjlargaespada opened #20 "Search Bar Size"
Hi Anton,

When looking at Glenn's design I've noticed that our search bar is currently too small. It'd be great if you could make it larger so it is more noticeable. You can see that Glenn's design has a longer and thicker search bar. Here's a comparison of our search bar and Glenn's for reference:

https://ucla.box.com/s/uoy1d7t1zv00zphpndu8w1a7eo2qe05w

Thanks,
Saida

[2017-08-28 21:40] sjlargaespada opened #21 "Social Media Widgets"
Hi Anton,

Under the "Explore Collections," after I choose an item and click "view details" there is the option to "share" on social media." I've been unable to succeed in using this function. Is it possible to get it to work?

https://ucla.box.com/s/jdcgsmi03192n86yiysefg71615p54r4

Thanks,
Saida

[2017-08-28 21:56] sjlargaespada opened #22 ""View Item At University of Hong Kong's Site" Link in item details"
Hi Anton,

When you navigate to an item and view its details, regardless of institution the outgoing link always says "View Item At University of Hong Kong's Site"

i.e. https://ucla.box.com/s/vrqhv1dxnswwbvi6uirpyzkmvm16q57n

Also could we make the "At" lowercased? I.e. It'd say "View Item at University of Auckland" instead of "View Item At University of Auckland."

Thanks,
Saida

[2017-08-28 22:01] sjlargaespada opened #23 "Explore Collections- Letter case"
Hi Anton,

When looking at Explore Collections under browse by institution and browse by collection title, the institutions and collection titles are currently all lowercased. They should all be initial cap upper case i.e. "University of California Los Angeles"

Thanks,
Saida

[2017-08-28 22:16] sjlargaespada opened #24 "Search Item details- Thumbnail and text"
Hi Anton,

When searching for items, within the results, (1)the thumbnails seems too big and there is awkward spacing between the text. (2)The title is also slightly smaller than the ideal size. (3)Also, again please change the "At" in the blue box to a lowercase "at" (i.e. "View Item At University of California Los Angeles" should change to ""View Item at University of California Los Angeles"

Th

[2017-08-28 22:20] sjlargaespada opened #25 "Footer Links Not Working"
Hi Anton,

Could you make it so that the footer links work? They'd direct to the same destinations as the main menu links.

Best,
Saida

[2017-08-28 22:35] sjlargaespada opened #26 "Exhibitions page: Edits"
Hi Anton,

There are some edits needed on the Exhibitions page. Here is copy of Glenn's design for reference.
[PRL_desktop_r7_new pages r2.pdf](https://github.com/pier2marketing/ucla-prrla/files/1258579/PRL_desktop_r7_new.pages.r2.pdf)

1. The thumbnails are currently too large, please make them smaller
2. The titles need to be larger and properly capitalized (i.e. "history of the university of au

[2017-08-31 00:47] pghorpade opened #27 "Display Thumbnail on Search Result and View Item Pages"
Hi Anton,

To show thumbnail for each record on Search Results and View Item Pages,

Follow the instructions on wiki page
https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification#thumbnail

let me know if you have questions

thank you
Parinita Ghorpade

[2017-08-31 17:11] #19 closed, assigned to amereshchuk

[2017-08-31 19:12] #17 closed, assigned to amereshchuk

[2017-08-31 19:14] #16 closed, assigned to amereshchuk

[2017-08-31 19:15] #13 closed, assigned to amereshchuk

[2017-08-31 19:20] #25 closed, assigned to amereshchuk

[2017-08-31 19:21] #23 closed, assigned to amereshchuk

[2017-08-31 19:22] #21 closed, assigned to amereshchuk

[2017-08-31 19:24] #26 closed, assigned to amereshchuk

[2017-09-08 17:23] rosalieucla opened #28 "Type facet - Remove"
Hi Anton,

Please remove the Type facet altogether from the Filters.

thx,
Rosalie

[2017-09-08 17:55] rosalieucla opened #29 "Sort Decade Filter"
Hi Anton,
Can you please set the Decade (aka Date) Filter to sort Reverse Chronological.

eg
2017
2016
2015
etc.

thx,
Rosalie

[2017-09-11 17:07] #18 closed, assigned to amereshchuk

[2017-09-11 17:38] #11 closed, assigned to kjallen, amereshchuk, pghorpade

[2017-09-11 17:41] sjlargaespada commented on #24
@amereshchuk, could we get the blue "View Item" blue box to align like Glenn's design: https://ucla.box.com/s/3royzdxmtx9iim17knm9ta499vqwvg6n

thanks!

[2017-09-11 17:43] sjlargaespada opened #30 "sort pull down box size"
Hi Anton,

could we increase the size of the sort pull down box? The text gets cut off as seen here:
<img width="529" alt="screen shot 2017-09-11 at 10 42 00 am" src="https://user-images.githubusercontent.com/31044167/30288556-00d61cf4-96de-11e7-9320-89f8f178e2f5.png">

Thanks,
Saida

[2017-09-11 17:50] pier2marketing commented on #28
This is done. Please verify

[2017-09-11 17:51] pier2marketing commented on #29
Hi Rosalie,

This is in process. I'll update the status as soon as it's ready.

Many Thanks,
Paul

[2017-09-11 17:55] pier2marketing commented on #30
Hi Saida,

We're on it. I'll update here when ready.

Thanks,
Paul

[2017-09-11 17:59] pier2marketing commented on #24
on it!

[2017-09-11 19:31] #22 closed, assigned to amereshchuk

[2017-09-11 20:47] #28 closed, assigned to amereshchuk

[2017-09-11 20:49] sjlargaespada commented on #20
![screen shot 2017-08-21 at 3 04 23 pm](https://user-images.githubusercontent.com/31044167/30296170-0f0ccb14-96f8-11e7-87c2-9cc9f24d0ff0.jpg)

[2017-09-12 12:36] Hlopec commented on #20
Hi, please check it.

[2017-09-12 19:21] #30 closed, assigned to amereshchuk

[2017-09-12 19:22] #20 closed, assigned to amereshchuk

[2017-09-13 12:07] Hlopec commented on #29
Hi!
Decade filter sorted.

[2017-09-18 22:03] sjlargaespada commented on #27
@amereshchuk, here is the chosen "no thumbnail" image.
![prl no thumbnail icon 3-03](https://user-images.githubusercontent.com/31044167/30566823-7da5aa70-9c82-11e7-90c5-20448e2548cd.png)

[2017-09-19 19:27] kjallen opened #31 "ng build with prod flag"
Our team gets several errors when running ng build with --prod flag.

ERROR in ./src/main.ts
Module not found: Error: Can't resolve './$$_gendir/app/app.module.ngfactory' in '/data/prrladeploy/pier2/ucla-prrla/src'
 @ ./src/main.ts 4:0-74
 @ multi ./src/main.ts

Could you confirm able to build using --prod? Or let us know what is required to build with this option

[2017-09-19 19:54] pier2marketing commented on #31
Thank you. Let us investigate and get back to you, please.

[2017-09-19 20:33] sjlargaespada opened #32 "Add logo to header"
Anton,
Please substitute the PRRLA | PRL header text with the logo
![prl](https://user-images.githubusercontent.com/31044167/30614074-14691124-9d3f-11e7-9a39-89807d5f8335.png)

Thanks!

[2017-09-19 20:45] sjlargaespada opened #33 "Add PRRLA Link to header"
Anton,
in line 33 of header.component.html Please make the PRRLA in the navigation bar link to pr-rla.org

thanks!

[2017-09-19 21:46] #29 closed, assigned to amereshchuk

[2017-09-20 01:33] rosalieucla commented on #27
@amereshchuk, Please let us know if you have any questions or need further information.

thx,
Rosalie

[2017-09-20 22:19] sjlargaespada opened #34 "Re-alphabetize the Institutions Page and get rid of gaps"
Hi Anton,

Two things:
1. Make sure there aren't any gaps between the names as seen in the image below (between Kansai University Korea University and National Taiwan University)

2. Please re-alphabetize the list of institutions on the Institutions Page? Currently it's alphabetized in rows (left to right). We would like it to be in alphabetical order as columns (top to bottom)

i.e. First column

[2017-09-20 22:22] rosalieucla commented on #32
Hi anton,

we are going to send out the site for review to some folks, so it would be great if you could to add this logo by Friday, morning PST.

thx,
Rosalie

[2017-09-20 22:23] rosalieucla commented on #33
Hi anton,

we are going to send out the site for review to some folks, so it would be great if you could complete this ticket by Friday, morning PST.

thx,
Rosalie

[2017-09-20 22:23] sjlargaespada opened #35 "Remove mailto: command from the individual institutions pages"
Hi Anton,

because not all institutions have contact e-mails, such as UC Irvine, we would like to have you remove all of the the mailto: commands in order to prevent any issues.
![uci](https://user-images.githubusercontent.com/31044167/30670560-9c2b54a4-9e17-11e7-944c-d5f7c247e89b.png)

[2017-09-20 22:43] sjlargaespada opened #36 "Add favicon"
Hi Anton,

Please add this favicon to the site:

Thanks!
![prl favicon](https://user-images.githubusercontent.com/31044167/30671161-5aea2ea4-9e1a-11e7-9994-ae65abc96a51.png)

[2017-09-20 22:53] sjlargaespada opened #37 "Left-align University Logos"
Anton,

Please re-align the University logos to the left.
![1](https://user-images.githubusercontent.com/31044167/30671435-b9609a1c-9e1b-11e7-8a67-3255dcb18fdf.jpg)

It should look like:
![2](https://user-images.githubusercontent.com/31044167/30671443-bfa65f6a-9e1b-11e7-8102-7df4bff3372c.jpg)

Thanks,
Saida

[2017-09-21 00:38] kjallen opened #38 "URLs that contain Solr queries need to be escaped"
As we have been adding content we've uncovered a few unanticipated bugs. Our latest set of data has some content that contains the ':' character, which looks like cannot be included in a Solr query without being escaped.

`Escaping Special Characters
Lucene supports escaping special characters that are part of the query syntax. The current list special characters are`
\+ - && || ! ( ) { } [ ] ^ "

[2017-09-21 17:52] Hlopec commented on #37
done

[2017-09-21 17:52] Hlopec commented on #36
done

[2017-09-21 17:52] Hlopec commented on #35
done

[2017-09-21 17:53] Hlopec commented on #33
done

[2017-09-21 17:53] Hlopec commented on #32
done

[2017-09-21 20:01] #37 closed, assigned to amereshchuk

[2017-09-21 20:01] #36 closed, assigned to amereshchuk

[2017-09-21 20:02] #35 closed, assigned to amereshchuk

[2017-09-21 20:03] #33 closed, assigned to amereshchuk

[2017-09-21 20:03] #32 closed, assigned to amereshchuk

[2017-09-22 19:42] sjlargaespada opened #39 "Feedback from Glenn Randle"
Anton,
Please make the following changes highlighted in this PDF
[PRRLA Design Comments9.21.pdf](https://github.com/pier2marketing/ucla-prrla/files/1325651/PRRLA.Design.Comments9.21.pdf)

-Saida

[2017-09-22 21:05] #9 closed, assigned to amereshchuk

[2017-09-22 21:19] kjallen opened #40 "Error message for certain records with special chars in url"
Example:
http://test-prl.library.ucla.edu/detail/oai:library.ucla.edu:digital2%2F21198-zz002d61gg

Certain urls produce an error message of:
Backend error Problems with API. Try to reload page.

I believe this might be related to ticket #38

[2017-09-22 21:24] kjallen opened #41 "Blue 'View Item' button not visible on some items"
I think this also might be related to rendering of #38, some items do not have a blue 'view item'

Example search with blue button:

http://test-prl.library.ucla.edu/search?filters=%7B%22institutionName%22:%5B%22University%20of%20Auckland%22%5D%7D

Example search missing blue button:

http://test-prl.library.ucla.edu/search?filters=%7B%22institutionName%22:%5B%22University%20of%20California,%20Los

[2017-09-22 22:05] sjlargaespada opened #42 "Remove Copyright message for items when viewing details"
Hi Anton,

Please remove the copyright section in the red circle for **all items**

<img width="1440" alt="screen shot 2017-09-22 at 2 56 27 pm" src="https://user-images.githubusercontent.com/31044167/30766024-6c01f9ea-9fa7-11e7-9e0e-f86bf20824e6.png">

Thanks,
Saida

[2017-09-25 14:44] Hlopec commented on #42
done

[2017-09-25 16:17] amereshchuk commented on #41
we do not show blue button if field identifier_keyword is empty, we use value of this field as url. if empty, button doesn't make sense. right?

[2017-09-25 16:41] pghorpade opened #43 "Populate View Details Page metadata from solr document fields and not facets fields"
Hi Anton,

For this page currently, the code uses the facet field data .
I have updated the wiki document [View Details Page](https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification#view-item-record) with examples of how to populate metadata from the solr document.

let me know if you have questions

[2017-09-25 16:44] pghorpade opened #44 "Populate Search Results metadata fields from Solr document."
Hi Anton ,

For this page currently, the code uses the facet field data .
Change this to populate from solr documents.
The examples are here [Search Results Details](https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification#search-results-record-fields)

let me know if you have questions

[2017-09-25 19:04] rosalieucla commented on #39
Hi anton,

From Glenn:
Here is the link to DropBox with all the final files.

https://www.dropbox.com/s/w2qrejrt656bcr3/PRL%20final%20files.zip?dl=0

Here is the DropBox link to the logo file.

https://www.dropbox.com/s/2u19d2k72n9u4v5/PRL%20logo-01.png.zip?dl=0

thx,
Rosalie

[2017-09-26 13:23] amereshchuk commented on #44
hello, we have moved back all fields. before we had request to hide fields. please let me know if that works correct now. thank you.

[2017-09-26 13:23] amereshchuk commented on #43
hello, we have moved back all fields. before we had request to hide fields. please let me know if that works correct now. thank you.

[2017-09-26 13:31] amereshchuk commented on #27
done.

[2017-09-26 13:34] amereshchuk commented on #40
done.

[2017-09-26 13:34] amereshchuk commented on #38
done.

[2017-09-26 13:35] amereshchuk commented on #41
identifier_keyword returns one or more urls, we grabbed urls wrong. not it fixed. done.

[2017-09-26 14:21] rosalieucla commented on #43
Hi!

The previous request was to hide field names when there was no values in them. .Where there is a value display all fields on 'view details' page

I can't qa the site now but will later this morning

Thx for all your fast work!!!!

Rosalie

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: amereshchuk <notifications@github.com>
Sent: Tuesday, September 26, 2017

[2017-09-26 19:57] #42 closed, assigned to amereshchuk

[2017-09-26 20:03] #41 closed, assigned to amereshchuk, pier2marketing

[2017-09-26 20:08] #40 closed, assigned to amereshchuk, pier2marketing

[2017-09-26 20:17] #38 closed, assigned to amereshchuk, pier2marketing

[2017-09-26 20:20] sjlargaespada commented on #24
closing this since it's better explained in issue #39

[2017-09-26 20:20] #24 closed, assigned to amereshchuk

[2017-09-26 20:59] sjlargaespada opened #45 "Remove Extra Metadata from Search Results"
Hi Anton,

On the search results page we only want:
**Title
Collection
Institution
Author
Date**

Thanks,
Saida

[2017-09-26 23:02] sjlargaespada opened #46 "Browse by Collections Linking to Search Results of the Entire Institution, not the Individual Collection"
Hi,

Example: On the [Explore Collections Page](http://test-prl.library.ucla.edu/explore-collections) when you select East Asian Maps In The Bruman Collection [1083] it sends you to:
http://test-prl.library.ucla.edu/search?filters=%7B%22institutionName%22:%5B%22University%20of%20California,%20Los%20Angeles%22%5D%7D

it should go to

http://test-prl.library.ucla.edu/search?page=1&filters=%7B%22inst

[2017-09-26 23:21] sjlargaespada opened #47 "UCLA Institution Page Collections"
For [UCLA's institution page](http://test-prl.library.ucla.edu/institution?name=University%20of%20California%20Los%20Angeles) it currently displays the [**University Of California Los Angeles**](http://test-prl.library.ucla.edu/institution?name=University%20of%20California%20Los%20Angeles) value (doesn't have the comma), please change to
**University of California, Los Angeles**

so it shows all o

[2017-09-26 23:24] markmatney opened #48 "Fix Decade filter"
There are two issues with the Decade filter (on the left hand side of the page at `/search`):
- Decades are sorted reverse-lexicographically, but should be sorted reverse-chronologically instead
- Years prior to year 0 are stored in Solr as a string of one or more digits preceded by a `-`, but should display with the suffix `B.C.E` instead of this prefix

A good example collection to see these iss

[2017-09-26 23:26] sjlargaespada opened #49 "View Details Subject Description"
Currently the subject description field is cut off as seen here:

<img width="840" alt="screen shot 2017-09-26 at 4 24 00 pm" src="https://user-images.githubusercontent.com/31044167/30888788-4456e09e-a2d7-11e7-9f88-c93175044d97.png">

Please keep the column width, but add a line break before the word "description" so it shows as

Subject
Description:

Thanks!

[2017-09-26 23:27] rosalieucla opened #50 "Add Banner words to all pages"
Hi Anton,

For our release tomorrow, we just realized that we would like to add a note to each page to remind people that this is a test site.

Please have the following words: TEST SITE; TEMPORARY, SAMPLE DATA

If this helps, we found this code:
https://stackoverflow.com/questions/30761750/how-can-i-overlay-a-banner-status-line-on-every-web-page-in-a-test-environment

i'm marking this top priorit

[2017-09-26 23:57] #27 closed, assigned to amereshchuk

[2017-09-27 00:00] rosalieucla commented on #45
@amereshchuk, it would be great if you could fix this for us by Noon our time, tomorrow, 9/27.

The details of the fields for the search results is documented in Parinita's solr documentation on githhub.

thx!
Rosalie

[2017-09-27 00:00] rosalieucla commented on #43
@amereshchuk, it would be great if you could fix this for us by Noon our time, tomorrow, 9/27.

The details of the fields for the  view details is documented in Parinita's solr documentation on githhub.

thx!
Rosalie

[2017-09-27 00:26] rosalieucla commented on #47
@amereshchuk  - this is a different, but related issues. Here's an example of an institution with collections but they do not show up on this page: http://test-prl.library.ucla.edu/institution?name=Chinese%20University%20of%20Hong%20Kong

[2017-09-27 00:37] pghorpade commented on #43
hi @amereshchuk ,

I tested a few records and all metadata is still missing on the View Details page.

View Details page should have any or all metadata in the solr document from json response returned ,

Here is the full list (This is documented in the github wiki https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification#view-item-record)

if any of  solr fields

[2017-09-27 00:47] rosalieucla commented on #44
see ticket #45.

[2017-09-27 01:07] sjlargaespada opened #51 "Shorten Title on View Details Page"
Please limit the top title shown on the viewing details to approximately 60 charters, but make sure it does not cut in the middle of a word

I.e. **Please shorten the title in the red circle,** but keep the green title its original length
<img width="1440" alt="screen shot 2017-09-26 at 6 01 30 pm" src="https://user-images.githubusercontent.com/31044167/30891007-43ab4442-a2e5-11e7-9887-eb9af94bdd2

[2017-09-27 01:39] pghorpade commented on #44
Hi @amereshchuk ,

for the following link which we call the search results page

http://test-prl.library.ucla.edu/search?page=1&filters=%7B%7D&therms=&order=

I am seeing more labels and metadata then expected, please look at my documentation https://github.com/pier2marketing/ucla-prrla/wiki/Solr-4.10-Search-and-Browse-Specification#search-results-record-fields
for the  required fields and labels

[2017-09-27 07:52] Hlopec commented on #34
done

[2017-09-27 08:54] Hlopec commented on #51
done

[2017-09-27 11:57] Hlopec commented on #50
done

[2017-09-27 12:34] Hlopec commented on #45
done

[2017-09-27 12:36] Hlopec commented on #44
done

[2017-09-27 15:51] sjlargaespada commented on #50
@Hlopec
Currently it says "THIS IS DEMO PAGE. ORIGIN PAGE - COMING SOON" not "TEST SITE; TEMPORARY, SAMPLE DATA"

<img width="1440" alt="screen shot 2017-09-27 at 8 50 13 am" src="https://user-images.githubusercontent.com/31044167/30923533-f2dec04e-a360-11e7-9908-aad03cf2f7f6.png">

[2017-09-27 15:53] #45 closed, assigned to amereshchuk

[2017-09-27 15:54] #34 closed, assigned to amereshchuk

[2017-09-27 16:09] sjlargaespada opened #52 "Missing Titles"
Many items are missing titles both in the search results and view items page. For example, the majority of Auckland is missing as seen below:

<img width="1440" alt="screen shot 2017-09-27 at 9 05 46 am" src="https://user-images.githubusercontent.com/31044167/30924421-884e3dec-a363-11e7-95b7-d7a55e6d2685.png">

[2017-09-27 16:10] sjlargaespada commented on #51
@Hlopec Please see issue #52 which may be related to this recent change

[2017-09-27 16:14] sjlargaespada commented on #50
Fixed

[2017-09-27 16:14] #50 closed, assigned to amereshchuk

[2017-09-27 16:48] Hlopec commented on #52
fixed

[2017-09-27 17:32] Hlopec commented on #51
done

[2017-09-27 17:34] Hlopec commented on #49
done

[2017-09-27 17:46] rosalieucla commented on #51
@Hlopec  thank you for all your work today!!!  This is minor so not a rush.. but we should have the full title completely visible on the "view details' Page for the title in the page, see the screen shot above.. the GREEN circle.  thx!

[2017-09-27 18:01] #52 closed, assigned to amereshchuk

[2017-09-27 18:04] sjlargaespada commented on #51
@Hlopec, please refer to original post so that the the full title shows where I have circled in green. Thanks!

[2017-09-27 18:06] #49 closed, assigned to amereshchuk

[2017-09-27 18:06] Hlopec commented on #51
done, please check it.

[2017-09-27 18:14] sjlargaespada commented on #51
yay thanks!!!

[2017-09-27 18:14] #51 closed, assigned to amereshchuk

[2017-09-27 18:21] Hlopec commented on #48
done. added B.C.E. suffix.

[2017-09-27 18:22] Hlopec commented on #43
done. please check it.

[2017-09-27 18:26] saslv commented on #47
Hi!

We are using data from solr via query we where provided to get prrla_members:
http://test-solr.library.ucla.edu/solr/prrla/select?q=prrla_member_title:*&rows=0&wt=json&sort=prrla_member_title%20asc&indent=true&facet=true&facet.field=prrla_member_title&json.wrf=__ng_jsonp__.__req0.finished

In response we don't have names with comma.
The best way will be to handle this on back-end, but if you

[2017-09-27 18:53] markmatney commented on #48
I ran the site locally in both Firefox 55 and Chromium 61 and I still see the `-` prefix (and no `B.C.E`).

I do see [the commit that purportedly fixes this](https://github.com/pier2marketing/ucla-prrla/commit/2dd16c8e7d24229214a3bbae8f5cb9f9da150de7). Please note that there should be no spaces in the suffix: should be `B.C.E.` exactly, not `B. C. E.`. Also, it looks like the value of the `humanNa

[2017-09-27 19:05] sjlargaespada commented on #47
@pghorpade thoughts?

[2017-09-27 19:06] #44 closed, assigned to amereshchuk, pier2marketing

[2017-09-27 21:45] pghorpade commented on #43
hi @amereshchuk ,

I still see no metadata for subject, relation, publisher, format, type on the view details page, for the following example

http://test-prl.library.ucla.edu/detail/oai_3Adtlappprd01.its.auckland.ac.nz_3A286347.xml

I am guessing for other data, there may be more fields missing on the UI.

Will update the ticket, as I find more.

[2017-09-27 22:00] pghorpade commented on #43
I found another example

http://test-prl.library.ucla.edu/detail/oai:library.ucla.edu:digital2%2F21198-zz002bd3d8

subject, coverage, contributor fields are missing

the date value should be populated from date_identifier and not decade for this page.

[2017-09-27 22:36] kjallen commented on #47
This ticket may be closed. The solution we have decided on is to update the data on our end, your queries will stay the same.

[2017-09-27 22:36] #47 closed, assigned to amereshchuk, pghorpade

[2017-09-27 22:45] kjallen commented on #43
@Hlopec I think the general issue is on the display details page (example:
http://test-prl.library.ucla.edu/detail/oai:cuhk-dr:cuhk_957465
)
The fields that are being displayed are being sourced from the **facet** fields. They should be pulled from the solr document fields/oai-pmh dublin core fields. @pghorpade has listed the set above.

The mixup is most evident in the example above, the content

[2017-09-28 21:42] kjallen commented on #31
Checking in with any updates on this

[2017-09-28 21:44] kjallen opened #53 "ng build with prod flag should use production solr"
If the build is done with the production flag, the url for the production solr should be used in solr queries

The url for the production solr instance is: solr.library.ucla.edu
The url for test solr instance is: test-solr.library.ucla.edu

[2017-09-29 12:48] Hlopec commented on #53
done

[2017-09-29 13:42] Hlopec commented on #31
please try this.
ng build --env=prod --no-sourcemap

[2017-09-29 19:30] cachemeoutside commented on #31
looks like it's working with the --no-sourcemap option

@kjallen can you confirm on your side?

Here's my output:
==
$ node_modules/.bin/ng build --env=prod --no-sourcemap
Hash: 64d94d30695139dd649a
Time: 7665ms
chunk    {0} polyfills.bundle.js (polyfills) 191 kB {4} [initial] [rendered]
chunk    {1} main.bundle.js (main) 141 kB {3} [initial] [rendered]
chunk    {2} styles.bundle.js (styles) 148 k

[2017-09-29 20:03] kjallen commented on #31
Confirmed this is working for my local build as well.

[2017-09-29 20:03] #31 closed, assigned to amereshchuk, pier2marketing

[2017-09-29 20:25] kjallen commented on #53
Thank you. Could clarifications of the changes or a way to confirm be provided? If I run:
ng build --env=prod --no-sourcemap

I am still seeing connections to test-solr.library.ucla.edu. The expected behavior would be solr.library.ucla.edu.

[2017-09-29 22:02] rosalieucla opened #54 "Remove External Links display from View Details page"
Hi,

Please remove "external links' field from display on the "view details" page.

we have now decided it is in fact confusing for the user.

see screen shot of field.

thx!
Rosalie
![ext link](https://user-images.githubusercontent.com/30246687/31037688-191843b2-a527-11e7-960d-ac3cac47e412.png)

[2017-09-29 22:04] rosalieucla opened #55 "Identifier field"
Hi,

Please make all links in the Identifier field on the 'view details' page, clickable.

thx!

[2017-09-29 22:05] rosalieucla opened #56 "View Details page - external links and design for view item blue box"
This is placeholder for work to come

[2017-10-02 08:19] Hlopec commented on #54
done

[2017-10-02 08:26] Hlopec commented on #55
done

[2017-10-02 12:11] saslv commented on #48
@markmatney, thank you!
Fixed.

[2017-10-02 13:16] saslv commented on #46
Done.

[2017-10-02 14:51] amereshchuk commented on #53
could you please update code and try again?
we haven't done any changes here but just double checked, everything worked fine.

thank you.

[2017-10-02 14:54] amereshchuk commented on #43
done. thank you for details. that was really helpful.

[2017-10-02 16:21] markmatney commented on #48
Looks fine to me, thank you!

[2017-10-02 16:21] #48 closed, assigned to amereshchuk

[2017-10-02 17:08] markmatney opened #57 ""Search Results" breadcrumb links to incorrect page"
Please see the page at `/detail/oai_3AGeorge-Grace-Collection_3A1.xml` for example. The breadcrumb link to "Search Results" (top left) doesn't link to the search results page.

Our proposed solution is that whenever a user navigates from `/search` to `/detail`, the `/search` page should pass the current web address to the `/detail` page, which it will link to in the breadcrumb trail:
[code]

[2017-10-02 17:26] #46 closed, assigned to amereshchuk

[2017-10-02 17:51] #54 closed, assigned to amereshchuk

[2017-10-02 17:51] #55 closed, assigned to nobody

[2017-10-02 18:16] amereshchuk commented on #43
http://test-solr.library.ucla.edu/solr/prrla/select?q=id:oai%5C:cuhk%5C-dr%5C:cuhk_957372&indent=true&wt=json&json.wrf=__ng_jsonp__.__req0.finished

date_keyword returns collection of strings, please let me know how to print date in this case? do we need to print them all or some of them of first one? please provide details which cover all cases?

right now we print all strings from date_keyword.

[2017-10-03 00:12] markmatney commented on #56
The following changes should be applied to the "View Details" page:
- remove the "External Link(s): ..." entry from the displayed metadata
- change the blue boxed link ("View Item At ...") to point to the URL stored in the `external_link` field in the item's Solr document
- add a list of links underneath the blue boxed link, one per URL stored in the `alternate_external_link` multi-valued field (w

[2017-10-03 00:18] rosalieucla commented on #56
Hi, Attached is mock up of how it should display. NOTE: that we'd love to have the URLs 'masked' and all say "View Item" vs spelling out the entire URL.

![view item 1](https://user-images.githubusercontent.com/30246687/31104981-802d54aa-a795-11e7-9e37-a621f83be3ab.jpg)

[2017-10-03 21:33] markmatney commented on #57
I just added some clarification to the description, hopefully it's more clear now.

[2017-10-03 22:11] rosalieucla commented on #43
Yes, print them all, each date on its own line.

thx!
Rosalie

[2017-10-03 23:02] cachemeoutside commented on #53
Hello,

I'm not sure what's going on, but building with

ng build --env=prod --no-sourcemap

seems to have pushed an old build. Here's a test URL that I'm using:
http://test-prrla.library.ucla.edu/index

I've noticed that the header is different than what we build without the prod option(look at http://test-prl.library.ucla.edu)

Can you all look into this? Thanks.

[2017-10-03 23:07] cachemeoutside commented on #53
Nevermind, it looks like it's working now. I copied to the wrong S3 bucket.

[2017-10-03 23:10] cachemeoutside commented on #53
@kjallen can you review:
http://test-prrla.library.ucla.edu/index

it's built using the prod flag. you may want to have @markmatney upload one collection to test.

[2017-10-03 23:18] sjlargaespada opened #58 "Footer too large"
Please make footer smaller, it is looking a bit large (tall) on every page
<img width="1440" alt="screen shot 2017-10-03 at 4 17 46 pm" src="https://user-images.githubusercontent.com/31044167/31153504-6b42658c-a856-11e7-9664-5566c46de33e.png">

Thanks!

[2017-10-04 00:15] markmatney commented on #53
indexing in progress and [collections are showing up](http://test-prrla.library.ucla.edu/explore-collections) -- that's a good sign I think

[2017-10-04 01:31] rosalieucla opened #59 "sort collections in alpha order"
Hi,

The collections on all the institution pages, should sort alphabetically a-z

eg on this page: http://test-prl.library.ucla.edu/institution?name=University%20of%20Hawaii%20at%20Manoa

[2017-10-04 01:35] rosalieucla opened #60 "Remove + from browse collection page."
Hi,

There should be no + on this page: http://test-prl.library.ucla.edu/explore-collections

Here's is Glenn's design. the Collection title is bold and the institution name and follows it unbold.

![prrla__pacific_rim_research_libraries_alliance__project_overview_-_digital_library_program_-_confluence](https://user-images.githubusercontent.com/30246687/31156502-a0d4bd4a-a869-11e7-97c3-748f437b6ca

[2017-10-04 02:09] markmatney opened #61 "Sort collections lexicographically on /institution and /explore-collections"
Collections should be sorted lexicographically where they are listed:
- on `/institution`, e.g. http://test-prl.library.ucla.edu/institution?name=University%20of%20Hawaii%20at%20Manoa
- on `/explore-collections`, in the "BROWSE BY INSTITUTION" tab whenever an institution name is expanded using the (+) button

[2017-10-04 02:12] markmatney commented on #59
I made a duplicate of this before checking if it already existed, but it has more information than this ticket so I'm closing this one. Please refer to https://github.com/pier2marketing/ucla-prrla/issues/61 instead

[2017-10-04 02:12] #59 closed, assigned to amereshchuk

[2017-10-04 14:35] Hlopec commented on #39
done

[2017-10-04 14:41] Hlopec commented on #58
done

[2017-10-04 15:10] Hlopec commented on #60
"+" - removed
we can't show everything because we get data by sepereted requests

[2017-10-04 19:35] #58 closed, assigned to amereshchuk

[2017-10-04 19:41] rosalieucla commented on #60
Hi @Hlopec,

Two issues.
1.  Let me see if I understand, you cannot style the Browse by Collection Title as it is in the attached screen shot? That is, the institution follows after the Collection title, NOT that it appears when you click the collection title.
If that is the case, Please remove the institution name all together from the Browse by Collection title page.

2. Can you keep the + on th

[2017-10-04 22:52] kjallen opened #62 "ng build with prod flag should not have test data banner"
If the build is done with the production flag, the application should not include the 'test data' banner at top of application

[2017-10-05 09:00] Hlopec commented on #60
1 - if we do this as a design, this will increase the loading time of the page.
2 - done

[2017-10-05 09:33] Hlopec commented on #56
Please, move alternate_external_link from facet_counts to the response.
Thank you!

[2017-10-05 11:59] saslv commented on #61
Done.

[2017-10-05 13:13] Hlopec commented on #62
done

[2017-10-05 13:19] Hlopec commented on #43
done

[2017-10-05 14:24] rosalieucla commented on #60
Please go ahead and do #1. Even tho it will increase the time. We tested with users and they want to know the institution name as well

Thx

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Vasyl Kruten <notifications@github.com>
Sent: Thursday, October 5, 2017 2:00:50 AM
To: pier2marketing/ucla-prrla
Cc: Lack, Rosalie; Author
Subject: Re: [pier2marketing/ucla-prrl

[2017-10-05 14:54] saslv commented on #57
Done.

[2017-10-05 16:33] #61 closed, assigned to amereshchuk

[2017-10-05 18:08] cachemeoutside commented on #53
@kjallen I pushed latest prod code. I think this is OK to close, you'll want to confirm. Here's the URL:

http://demo-prl.library.ucla.edu/index

[2017-10-05 18:09] cachemeoutside commented on #62
@kjallen Looks like this is working too, here's the latest code push: http://demo-prl.library.ucla.edu/index

[2017-10-05 19:02] markmatney commented on #57
@saslv, the `else` statement in my pseudo-code above seems to be not implemented. In other words, when arriving at `/detail` from a location other than `/search` (perhaps by opening a link to "View Details" in a new tab in their browser), the "Search Results" breadcrumb currently doesn't do anything useful; in fact, doing so now it breaks the application (for example, try clicking "Search Results"

[2017-10-05 19:35] markmatney opened #63 "Display "date_keyword" value next to "Date:" label on search results page"
It looks like each search result's item displays the value of "decade" next to the "Date:" label, which is incorrect. The value of "date_keyword" should be displayed instead. [Just as we decided here](https://github.com/pier2marketing/ucla-prrla/issues/43#issuecomment-333994319), please print each date on its own line.

[2017-10-05 21:37] kjallen commented on #62
Confirmed

[2017-10-05 21:37] #62 closed, assigned to amereshchuk

[2017-10-05 21:40] kjallen commented on #43
Confirmed, verified against http://test-prl.library.ucla.edu/detail/oai:cuhk-dr:cuhk_957465

[2017-10-05 21:40] #43 closed, assigned to amereshchuk, pier2marketing

[2017-10-05 21:46] kjallen opened #64 "Update Abstract label to read Description"
To follow up on #43, currently for description_keyword we have the label 'Abstract' attached, we would like to use the label 'Description' rather than 'Abstract'

@markmatney will update and close ticket

[2017-10-05 22:11] kjallen opened #65 "Index institution spreadsheet into prod Solr"
The spreadsheet for institutions should be indexed into the production Solr

[2017-10-05 23:20] rosalieucla commented on #56
Hi,

Just to clarify. If there is only one link (ie nothing in alternate_external_link) then do not display the label: Alternate Links:

thx!
Rosalie

[2017-10-06 00:02] rosalieucla opened #66 "Refine Identifier link to link only URLs"
Hi,

Earlier you made the identifier field clickable.  thx!

Can you please refine the code to only make clickable/hyperlink actual URLs, not everything in the field ... as it is doing now.

thx!
Rosalie

[2017-10-06 00:45] #64 closed, assigned to markmatney

[2017-10-06 10:11] Hlopec opened #68 "Different data from Solr after refresh page"
Sometimes we have different count of items for the same requests. As the result page will display different collections count, etc. Attached screenshoots.
This is strange because we can just refresh page few times during 5 seconds and response can be different.
Also this hapened in other places.
see https://github.com/pier2marketing/ucla-prrla/issues/56

![image](https://user-images.githubusercont

[2017-10-06 14:13] Hlopec commented on #66
done

[2017-10-06 14:13] Hlopec commented on #63
done

[2017-10-06 14:14] Hlopec commented on #60
ok, done.

[2017-10-06 14:55] saslv commented on #57
@markmatney, I have fixed url for case if user will open page in new tab.
In case if we not have params in url it doesn't make sense to show breadcrubms so I have removed them.

[2017-10-06 17:33] pghorpade commented on #65
This is done and in production.

[2017-10-06 18:12] cachemeoutside commented on #68
@Hlopec this is resolved. One of our slaves wasn't polling from the master. Let me know if it works on your end now.

Thanks,

- Anthony

[2017-10-06 19:41] markmatney commented on #39
Hi all,

We have received some more feedback and change requests. Please see the attached PDF for directions.
[PRRLA Design Comments 10-5.pdf](https://github.com/pier2marketing/ucla-prrla/files/1363738/PRRLA.Design.Comments.10-5.pdf)

[2017-10-09 09:39] Hlopec commented on #39
done

[2017-10-09 09:40] Hlopec commented on #68
Thank you!

[2017-10-09 09:40] #68 closed, assigned to kjallen, markmatney, Hlopec, cachemeoutside, rosalieucla

[2017-10-09 10:09] Hlopec commented on #56
Hi @rosalieucla,
ok, it will be done. Please, move alternate_external_link from facet_counts to the response.

Thank you!
![image](https://user-images.githubusercontent.com/11785317/31333493-fad55704-acf2-11e7-99ba-5e2233f5b3de.png)

[2017-10-09 17:11] markmatney commented on #63
When I go to `/search?therms=&page=1&filters=%7B%22collectionName%22%3A%5B%22UCLA%20East%20Asian%20Archaeology%20Corona%20Satellite%20Images%20Collection%3A%201960s-1970s%22%5D%2C%22institutionName%22%3A%5B%22University%20of%20California%20Los%20Angeles%22%5D%7D&order=` I get errors in Firefox and Chromium.

[2017-10-09 17:19] markmatney commented on #56
@Hlopec we are in the process of adding this field for UCLA's collections -- if you want live test data right now, please see the bottom of [my comment above](https://github.com/pier2marketing/ucla-prrla/issues/56#issuecomment-333701031).

[2017-10-09 17:22] markmatney commented on #57
Thanks @saslv

[2017-10-09 17:22] #57 closed, assigned to amereshchuk

[2017-10-09 17:45] rosalieucla commented on #39
Please review again, it looks like these additional edits are still not done.

thx!
Rosalie

[2017-10-09 17:50] amereshchuk commented on #39
ignore 21px title, leave 24px.

[2017-10-09 17:52] sjlargaespada opened #69 "Anchor Tags for Help Page"
Please make it so the questions in the left column of the Help page have anchor tags that correspond with the questions/answers on the right.

[2017-10-09 17:53] kjallen commented on #53
Confirming correct behavior.

[2017-10-09 17:53] #53 closed, assigned to amereshchuk

[2017-10-09 18:01] kjallen commented on #65
Confirmed

[2017-10-10 06:19] amereshchuk commented on #39
i just checked with dev, these edits was done yesterday and pushed to git.
right now edits are present on test env.
i assume that changes wasn't pulled to test env yesterday.

we will change title to 24px again.

please check again.

thank you.

[2017-10-10 12:30] amereshchuk commented on #63
we print everything as it is for date field. but data is not structured. sometimes it's just year, other case full date, other case array of same datas, etc.
please clarify how to print this field.

thank you.

[2017-10-10 13:46] Hlopec commented on #69
done

[2017-10-10 16:20] markmatney commented on #63
Dates should be printed in the same way as with [issue 43](https://github.com/pier2marketing/ucla-prrla/issues/43#issuecomment-333619231).

[2017-10-10 16:20] #63 closed, assigned to amereshchuk

[2017-10-10 16:20] markmatney commented on #63
(looks like that's what you're doing now, so I closed this issue)

[2017-10-10 22:05] #65 closed, assigned to pghorpade

[2017-10-10 22:06] #60 closed, assigned to amereshchuk

[2017-10-10 22:07] #69 closed, assigned to amereshchuk

[2017-10-10 22:15] markmatney commented on #56
Please let us know as soon as possible if the test data we've provided is not sufficient for you to make progress on this issue.

[2017-10-10 23:53] rosalieucla opened #70 "Make the title in results clickable"
Hi,

Sorry to throw one last issue at you, but we just uncovered a usability issue that we would like to have fixed by tomorrow if possible.

Please make the title in the search results clickable. it should go the same place that the "view details" goes. Here's a screen capture to show which fields I mean.
thx!
Rosalie
![results link](https://user-images.githubusercontent.com/30246687/31416045-7f8

[2017-10-10 23:54] #66 closed, assigned to amereshchuk

[2017-10-11 00:40] rosalieucla commented on #70
Just to add that the title link would be just like the other links on the site --  blue underline and it turns darker blue when you mouse over it.

[2017-10-11 12:50] Hlopec commented on #70
Hi,
I leave "View Details" button and made title like same link. Please look in this.

[2017-10-11 14:56] Hlopec commented on #56
Hi @markmatney!
It will be great if all items will have look like this one

http://test-solr.library.ucla.edu/solr/prrla/select?q=collectionName%3A%22United+College+Oracle+Bones%22&wt=json&indent=true

Thank you!

[2017-10-11 16:18] sjlargaespada commented on #39
Please slightly reduce the size of the "no thumbnail available" thumbnail. It is currently difficult to see a distinct separation between records.

<img width="1440" alt="screen shot 2017-10-11 at 9 12 26 am" src="https://user-images.githubusercontent.com/31044167/31452902-197e4e04-ae65-11e7-8e52-53c8fdde1b40.png">

[2017-10-11 16:23] #70 closed, assigned to amereshchuk

[2017-10-11 20:49] markmatney commented on #56
@Hlopec, I've re-indexed the following UCLA collections:
- East Asian Maps in the Bruman Collection
- Han Yu-Shan Collection
- Tom Leung Collection
- UCLA East Asian Archaeology Corona Satellite Images Collection: 1960s-1970s

We are unable to make this change for many of the other collections since they were indexed in a different way, but the available data is now sufficient to cover all the tes

[2017-10-12 07:59] Hlopec commented on #39
done

[2017-10-12 12:37] saslv commented on #56
@markmatney done.

[2017-10-12 15:02] rosalieucla commented on #56
@saslv , @amereshchuk

I may not have the latest code, but this does not appear to be working.

our test case is this link:
http://test-prl.library.ucla.edu/detail/oai_3Adspace.cityu.edu.hk_3A2031_2F155.xml?s_filters=%7B%22collectionName%22:%5B%22Student%20Works%20With%20External%20Awards%22%5D%7D&s_therms=&s_order=

If the Blue box link on this page goes to the CUHK site, then  it is fixed.

can

[2017-10-12 15:17] rosalieucla commented on #56
here is another test: http://test-prl.library.ucla.edu/detail/oai:scholarspace.manoa.hawaii.edu:10125%2F12722?s_filters=%7B%7D&s_therms=horse&s_order=

thx!

[2017-10-12 15:51] saslv commented on #56
@rosalieucla the last link(http://test-prl.library.ucla.edu/detail/oai:scholarspace.manoa.hawaii.edu:10125%2F12722?s_filters=%7B%7D&s_therms=horse&s_order=) will open correct site. (http://hdl.handle.net/10125/12722).

In case if item has no external_link we hide blue button.

[2017-10-12 15:56] rosalieucla commented on #56
Hi and thank you,

Just to be sure....

you are confirming that your latest code,  If I click this link:

http://test-prl.library.ucla.edu/detail/oai:scholarspace.manoa.hawaii.edu:10125%2F12722?s_filters=%7B%7D&s_therms=horse&s_order=

and then click the blue box, it goes to this link:  http://hdl.handle.net/10125/12722

is that correct?

Rosalie

[2017-10-12 16:30] kjallen opened #71 "API message error on search"
On the latest build we get an API error for any search terms entered.

To replicate go to:
http://test-prl.library.ucla.edu
Enter 'hawaii'
You will see Backend error Problems with API. Try to reload page.

Or may go to:
http://test-prl.library.ucla.edu/search?therms=hawaii

[2017-10-12 16:36] rosalieucla commented on #71
This seems odd but the search appears to only give an error when you search words that are in the  institution's name. Is that possible? A coincidence?

we need to go production today and this new bug is a blocker. Is there any way that someone can take a look at this?

thx,
Rosalie

[2017-10-12 17:38] amereshchuk commented on #71
we will take a look now.

[2017-10-12 17:45] saslv commented on #56
@rosalieucla, yes!

[2017-10-12 17:52] markmatney commented on #71
Rosalie has made an excellent observation. That is exactly the issue that I'm seeing. It seems as though this issue can be mostly be reproduced by visiting `/institutions` and trying to perform a search where the search terms are found in any institution name: for example "university of hawaii", "university of", "university", "chinese stanford", "of california", "singapore barbara".

However, some

[2017-10-12 17:52] markmatney commented on #71
(you don't have to be on the institutions page for any reason other than to see search terms to try)

[2017-10-12 18:01] pghorpade commented on #71
hi @amereshchuk ,

I have some more details for this issue,

if I search on "hawaii" or  "beijing" solr returns member institution record in the first 10 results.

http://solr.library.ucla.edu/solr/prrla/select?q=hawaii&rows=10&start=0&wt=json&sort=&facet=true&facet.field=institutionName&facet.field=collectionName&facet.field=type_keyword&facet.field=creator_keyword&facet.field=decade&facet.field=

[2017-10-12 18:02] markmatney commented on #56
@saslv  I am just comfirming that this seems to be fine. There is a disparity between some of our test Solr records that was causing @rosalieucla to see [this problem](https://github.com/pier2marketing/ucla-prrla/issues/56#issuecomment-336165298). Thanks!

[2017-10-12 18:02] #56 closed, assigned to amereshchuk, markmatney, sjlargaespada

[2017-10-12 18:24] kjallen commented on #71
This makes sense, basically the institution records do not follow the same format as an item (they have different fields etc...) so it would not fit into the item display template.

As @pghorpade mentions, please exclude institution records from the search results pages, as they will cause errors if looking for fields that don't exist. The institution solr documents do not have the same fields as

[2017-10-12 18:41] saslv commented on #71
Done.

[2017-10-13 01:05] rosalieucla commented on #71
thank you!!! done.

[2017-10-13 01:05] #71 closed, assigned to amereshchuk, pier2marketing, rosalieucla

[2017-11-02 19:45] sjlargaespada opened #72 "Search Results Page: Remove "view details" and add external link image"
Hi Anton,

Could you please do the following:

1. remove the "View details" link from the search results page as it is repetitive.
2. add the attached external link.png image to the view items link (within the blue bar)

Here is the external link.png image
<img width="15" alt="external link" src="https://user-images.githubusercontent.com/31044167/32346770-a3279580-bfcb-11e7-852c-e23bdff86ff9.png">

[2017-11-02 19:48] sjlargaespada opened #73 "Explore Collections - Change default to Browse by Institution"
Hi,

For the "Explore Collections" page the default when you land on the page is Browse by collection title, please change the default to **Browse by Institution**

Thanks!

[2017-11-03 11:28] Hlopec commented on #72
done

[2017-11-03 11:49] Hlopec commented on #73
done

[2017-11-03 21:33] kjallen opened #74 "Enable any changes needed for https only"
We were looking to run https only on the prrla application and noticed we ran into a few errors or any hardcoded http links in the application. Could the application be updated to work either with http or https?

[2017-11-06 13:38] Hlopec commented on #74
Hi, @kjallen!
Please provide wich errors you see.
Thank you!

[2017-11-06 18:28] cachemeoutside commented on #74
Hi @Hlopec,

There appears to be issues with the site grabbing solr values when accessing the site via HTTPS. The message Backend error: Problems with API shows up. We're not sure what the issue is, I've configured our test-solr.library.ucla.edu to listen for HTTPS. Maybe it's as simple as changing the solr URL to https?(only do this for test environment for now). Once we verify that HTTPS is work

[2017-11-06 23:54] rosalieucla commented on #72
@Hlopec,

Thank you for working on this. it looks great.

EXCEPT, we forgot to say that the blue box on the 'view details' page should look the same. That is, please add the 'external link' link on that one also.

For example on this, the "view item at university of Hawaii" : http://test-prl.library.ucla.edu/detail/oai:scholarspace.manoa.hawaii.edu:10125%2F15115?s_page=1&s_filters=%7B%22institutio

[2017-11-07 09:31] Hlopec commented on #72
image added.

[2017-11-07 10:57] Hlopec commented on #74
done, please check it.

[2017-11-07 17:16] cachemeoutside commented on #74
Hi @Hlopec,

I pushed the latest changes out. It appears that we're making progress after the solr URL change to https, but there's still a quirk. I'm able to see the collections now, but if I collapse an item in the "Browse by Institution" menu from:

https://test-prl.library.ucla.edu/explore-collections

I'll get the same backend error. The improvement is that It's able to list the institutions

[2017-11-08 08:31] Hlopec commented on #74
please, try now.

[2017-11-08 17:40] cachemeoutside commented on #74
Looks like it's resolved. Closing. Thanks @Hlopec! We'll be submitting another similar request for production changes when we're ready to go all HTTPS.

[2017-11-08 17:40] #74 closed, assigned to amereshchuk

[2017-11-16 23:10] #2 closed, assigned to amereshchuk

[2017-11-16 23:10] rosalieucla commented on #2
done

[2017-11-30 02:33] markmatney opened #75 "Remove unused pipes and variables from the codebase"
In reviewing the documentation, I noticed some variables (`src/data/books.ts`) and pipes (ParseJsonPipe, DerpPipe, ImplodePipe) that do not seem to be used anywhere in the code. Please review and remove these files if they are unused.

Also, in general, please remove any other unused code that you can find, including commented-out lines that no longer serve a purpose, e.g.
[code]

[2017-12-06 15:55] Hlopec commented on #75
done

[2017-12-12 23:54] kjallen opened #76 "Transfer ownership of ucla-prrla to UCLA"
Ownership should be transferred to the uclalibrary repository group, with owner of kjallen

[2017-12-13 13:13] Hlopec commented on #76
Hi Krisian,
we can transfer ownership to you, but what acectly mean uclalibrary repository group?
![screen shot 2017-12-13 at 3 09 59 pm](https://user-images.githubusercontent.com/11785317/33940562-19a0d174-e018-11e7-97a1-53bf1ed491f0.png)
Thank you!

[2017-12-14 01:20] rosalieucla opened #77 "Documentation Feedback"
Hi,

Below is feedback on the documentation. Please let us know if you have any questions.
-Rosalie

1. Getting started > README
* several of the file paths are incorrect, e.g. "src/app.router.ts", please fix
* the top of the multi-line code block should have "@Component(\{" in it
* code snippets should use multi-line code blocks (they should not be in-line), i.e. wrap code snippets in ``` instead

[2017-12-14 22:16] markmatney commented on #76
Hi @Hlopec,

Kristian means that the "New owner's GitHub username or organization name" should be `UCLALibrary`.

[2017-12-18 14:51] Hlopec commented on #76
Hi @markmatney, @kjallen
I tried transfer this repository but I have this message:
UCLALibrary already has a repository in the pier2marketing/ucla-prrla network and You don’t have the permission to create repositories on UCLALibrary.

[2018-01-05 16:57] Hlopec commented on #77
Hi all,
Please take a look on this.

[2018-01-12 16:24] markmatney commented on #77
@Hlopec,

Thanks for the update. Items 1 and 2 look good. As for item 3: can you complete the JSDocs in the following components please (particularly, the method parameters with type annotations and descriptions, and method return values)?
- ExhibitionComponent
- ExhibitionsComponent
- HelpComponent

[2018-01-15 16:26] saslv commented on #77
Done. Please check.

[2018-04-06 19:03] pghorpade opened #78 "The documentation in ReadMe for question A developer would like to add a brand new page"
should the new route path definition be above line  { path: '**', component: NotFoundComponent }, in the code.
Otherwise I was getting 404 page not found error.

[2018-04-06 19:28] pghorpade opened #79 "The answer to one of questions in ReadMe is not clear"
**we need to update or change the script for the dynamically generated pages, eg Institution page,
and browse by collection title/ institution page.**

Please refer previous questions

Can you add more details which previous question or the no of the question?

[2018-04-06 19:30] pghorpade commented on #79
Also another question

**we want to add a new or change an existing search filter**
Just add new facet in Solr response. Filter will appear automatically.

Can you elaborate where does this happen in the code?

[2018-04-06 19:32] pghorpade commented on #79
last question

**we want to make edits to the parameters of the social media share features the urls of the items pages are
really long, we'd like to explore other ways of forming those, so we need to understand what you are doing now - eg.**
http://prl.library.ucla.edu/detail/oai:ira.lib.polyu.edu.hk:10397%2F3036?s_page=1&s_filters=%7B%7D&s_therms=&s_order=

this is not answered.

[2018-04-11 09:30] saslv commented on #79
Just add new facet in Solr response. Filter will appear automatically.

This is in solr.service.ts at line 191
Service parses facet fields and generates filters based on facets.

really long, we'd like to explore other ways of forming those, so we need to understand what you are doing now - eg.
http://prl.library.ucla.edu/detail/oai:ira.lib.polyu.edu.hk:10397%2F3036?s_page=1&s_filters=%7B%7D&s_the

[2018-04-11 09:38] Hlopec commented on #78
Otherwise I was getting 404 page not found error.

Yes, correct. New route path should be above line { path: '**', component: NotFoundComponent }. Angular works in this way.

[2018-04-11 09:40] Hlopec commented on #79
and browse by collection title/ institution page.

Please, provide more deteils about this question.

[2018-08-24 22:42] markmatney opened #80 "User input needs to be sanitized"
If I search for a URL, for example `http://example.com`, the red error bar appears with

**Backend error** Problems with API. Try to reload page.

Here, I think the problem is the colon character `:` in the URL, but generally, user input should be sanitized so that an invalid Solr query is impossible to form.

[2018-09-07 21:11] kjallen commented on #76
This has been addressed, woohoo

[2018-09-07 21:11] #76 closed, assigned to nobody

[2018-09-13 00:44] markmatney commented on #80
More generally, the issue is with query parser reserved characters: https://lucene.apache.org/core/4_0_0/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Escaping_Special_Characters

[2018-09-22 20:32] #80 closed, assigned to nobody